<!DOCTYPE html>
<html>
<head>
  <title>HOME</title>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "home" %>
  <%= csrf_meta_tags %>
</head>

<body style="background: #FFFFFF">

<%= yield %>

</body>
<footer>

</footer>
</html>
